.increment {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.btn {
  display: grid;
  text-align: center;
  align-items: center;
  justify-content: center;
}
button {
  margin-top: 10px;
  background-color: black;
  color: white;
  border: 5px solid black;
  border-radius: 10px;
}
